flask>=3.0
gunicorn>=21.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
nltk
numpy
pandas
regex
requests
scikit-learn
scipy
spacy
spacy-legacy
spacy-loggers
sqlparse
tokenizers
torch
transformers
huggingface-hub
